@font-face {
    font-family: 'Norse-Bold';
    src: url('fonts/Norse-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

section{
    display: flex;
    width: auto;
    flex-direction: row;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#odin-project{
    display: flex;
    flex-direction: column;
    background-image: url("img/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 35vw;
    color: white;
}

#logo-odin{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5em;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "Norse-Bold", sans-serif;
    font-size: 5em;
}

#logo-odin img{
    width: auto;
    height: 7rem;
}

#image-copyrigth{
    margin-top: auto;
    margin-bottom: 0.5em;
    text-align: center;
}

#section-form{
    display: flex;
    flex-direction: column;
    width: auto;
    font-weight: 500;
    font-size: 1.3em;
    background-color: rgb(233, 233, 233);
}

#text-top-form{
    margin-top: 8em;
}

#text-top-form,
#create-account
{
    padding: 0em 2em;
}

#text-top-form p:last-child{
    padding: 3em 0;
}

#form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: white;
    margin-bottom: 2em;
    padding: 1em 2em;
    color: rgb(70, 70, 70);
    box-shadow: 0px 4px 11px -7px rgba(0,0,0,0.53);
}

#form p:first-child{
    font-weight: 600;
}

.form-container{
    display: flex;
    gap: 3em;
}

.label-container{
    display: flex;
    flex-direction: column;
    font-size: 0.5em;
    font-weight: 700;
    letter-spacing: 0.1em;
    gap: 0.3em;
}

input{
    width: 20em;
    height: 1.5em;
    border-radius: 0.2em;
    border: solid 1px #E5E7EB;
}

#create-account{
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

#user_password:invalid,
#confirm_password:invalid{
    border-color: red;
}

input:focus {
    border-color: blue;
    outline: none;
  }

button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15em;
    height: 3.2em;
    border-radius: 0.5em;
    padding: 1em;
    background-color: #596D48;
    color: white;
    font-size: 0.7em;
    font-weight: 600;
    border: solid;
}

#create-account p{
    margin-top: 0.5em;
    font-size: 0.7em;
    font-weight: 500;
}

a{
    color: #596D48;
    text-decoration: none;
}
